@page "/counter"
@inject ICounterState CounterState
@inject UIStateService UiStateService
@using Hara.Abstractions.Contracts
@using Hara.UI.Services
@implements IDisposable

<p>Current:ss @CounterState.CurrentCount</p>

<button class="btn btn-primary" @onclick="CounterState.IncrementCount">Click me</button>

@code {
    protected override void OnInitialized()
    {
       
        UiStateService.PageTitle = "Counter";
        CounterState.StateChanged += StateHasChanged;
    }

    public void Dispose()
    {
        CounterState.StateChanged -= StateHasChanged;
    }
}