@page "/"
<h1>Hello, world!</h1>

Welcome to your new app.
<hr/>
<SurveyPrompt Title="How is Blazor working for you?" />
<hr/>
<h2>normal settings </h2>
<SettingsViewer Encrypted="false"></SettingsViewer>
<hr/>
<h2>Encrypted settings </h2>
<SettingsViewer Encrypted="true"></SettingsViewer>
<hr/>
<NotificationsTest></NotificationsTest>
<hr/>
<a href="https://webauthn.io/">Testing!</a>